.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
    // position: fixed;
    color: #ffffff;
    background-color: #130739;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.Kimg {
    width: 13rem;
    height: 2rem;
    position: absolute; // Ensure position is set for top/left properties to take effect
    margin-left: 5rem;
}
.footerLeft {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.footerRight {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    margin-bottom: 0.6rem;
    margin-right: 5rem;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 8rem;
    }
    .Kimg {
        width: 8rem;
        height: 1.8rem;
        bottom: 3.4rem;
        left: 0rem;
    }
    .footerRight {
        font-size: 1.2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .footer {
        height: 8rem;
    }
    .Kimg {
        width: 7rem;
        height: 1.5rem;
        bottom: 3.5rem;
        left: 0rem;
        margin-left: 2rem;
    }
    .footerRight {
        font-size: 1rem;
        margin-right: 1rem;
    }
}
