@import "../scss-variables/variables.scss";

.checkout {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem 10rem;
}

.checkout-text {
    margin-top: 2rem;
    margin-left: 10rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #5d5d5d;
}

@media screen and (max-width: 768px) {
    .checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem 1rem;
    }

    .checkout-text {
        margin-top: 2rem;
        margin-left: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: #5d5d5d;
    }

}

@media screen and (max-width: 425px) {
    .checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem 1rem;
    }

    .checkout-text {
        margin-top: 2rem;
        margin-left: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: #5d5d5d;
    }
}

.checkout-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 2rem;

}

.checkout-form_headingBtn {
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    font-size: large;
    font-weight: bold;
    border: none;
    margin: 0.5rem 0;
}

.checkout-form_inputs {
    display: flex;
    gap: 10%;

    select {
        // change dropdown arrow color 
        appearance: none;
        background-image: url('../../assets/Down.svg');
        background-repeat: no-repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: 1em auto, 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        width: 100%;
        height: 3rem;
        border: 1px solid #858685;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
    }
}

.checkout-form_input {
    display: flex;
    flex-direction: column;
    width: 45%;

    label {
        font-size: 1rem;
        font-weight: 500;
        color: #858685;

    }

    &>input,
    select {
        padding: 0.5rem;
        margin: 0.5rem 0;
        width: 100%;
        height: 3rem;
        border: 1px solid #858685;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
    }
}

.checkout-form_nextButton {
    display: flex;
    margin: 0.5rem 0;
    justify-content: flex-end;
}

.errorAndNextBtn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

#travellerInfoError {
    color: red;
    font-size: 1rem;
    font-weight: 500;
}

.hidden {
    display: none;
}

.checkout-form_backBtn {
    color: $PRIMARY_BLUE;
    background: transparent;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-form_nextBtn {
    padding: 1rem 2rem;
    border: none;
    background-color: $PRIMARY_BLUE;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-form_expiry {
    display: flex;
    gap: 10%;
}

.tnc {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.tnc-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 478px;
    background-color: #fff;
    border-radius: 4px;
    height: 500px;
    padding: 30px;
    overflow: scroll;

    @media (max-width: 600px) {
        width: 300px;
        height: 180px;
    }

    .cancellation-title {
        font-size: 20px;
        width: 100%;
        padding-bottom: 10px;
        font-weight: bold;
    }

    .cancellation-success {
        font-size: 30px;
        width: 100%;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }

    .cancel-otp-enter {
        height: auto;

        .cancel-btn-div {
            display: flex;
            flex-direction: row-reverse;

            @media (max-width:500px) {
                justify-content: center;
            }
        }

        .cancellation-close-modal-btn {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            border: none;
            font-size: 22px;
            padding: 10px 15px;
            z-index: 2;
        }

        .cancellation-close-modal-btn:hover {
            cursor: pointer;
        }
    }

    .cancellation-btn {
        font-weight: bold;
        color: white;
        font-size: 16px;
        height: 44px;
        border-radius: 4px;
        padding: 6px;
        margin-top: 10px;
        background-color: #26266d;
    }

    .cancellation-btn:hover {
        cursor: pointer;
    }
}