@import "../scss-variables/variables.scss";

.checkout {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem 10rem;
}

.checkout-text {
    margin-top: 2rem;
    margin-left: 10rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #5d5d5d;
}

@media screen and (max-width: 768px) {
    .checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem 1rem;
    }

    .checkout-text {
        margin-top: 2rem;
        margin-left: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: #5d5d5d;
    }

}

@media screen and (max-width: 425px) {
    .checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem 1rem;
    }

    .checkout-text {
        margin-top: 2rem;
        margin-left: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: #5d5d5d;
    }
}

.checkout-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 2rem;

}

.checkout-form_headingBtn {
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    font-size: large;
    font-weight: bold;
    border: none;
    margin: 0.5rem 0;
}

.checkout-form_inputs {
    display: flex;
    gap: 10%;

    select {
        // change dropdown arrow color 
        appearance: none;
        background-image: url('../../assets/Down.svg');
        background-repeat: no-repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: 1em auto, 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        width: 100%;
        height: 3rem;
        border: 1px solid #858685;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
    }
}

.checkout-form_input {
    display: flex;
    flex-direction: column;
    width: 45%;

    label {
        font-size: 1rem;
        font-weight: 500;
        color: #858685;

    }

    &>input,
    select {
        padding: 0.5rem;
        margin: 0.5rem 0;
        width: 100%;
        height: 3rem;
        border: 1px solid #858685;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
    }
}

.checkout-form_nextButton {
    display: flex;
    margin: 0.5rem 0;
    justify-content: flex-end;
}

.errorAndNextBtn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

#travellerInfoError {
    color: red;
    font-size: 1rem;
    font-weight: 500;
}

.hidden {
    display: none;
}

.checkout-form_backBtn {
    color: $PRIMARY_BLUE;
    background: transparent;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-form_nextBtn {
    padding: 1rem 2rem;
    border: none;
    background-color: $PRIMARY_BLUE;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-form_expiry {
    display: flex;
    gap: 10%;
}

.tnc {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}