.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.4rem;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    font-size: 2.4rem;
    color: #26266d;
    background-color: white;
}
.language,
.currency {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.header-left {
    display: flex;
    gap: 2rem;
    margin-left: 8.5rem;
}
.header-left__text {
    text-decoration: none;
    color: #26266d;
}

.header-right {
    display: flex;
    margin-right: 8.5rem;
    gap: 3rem;
    justify-content: space-between;
}

.header-right img {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem; /* Add margin here */
}

.en-text,
.USD-text {
    position: relative; /* Add relative positioning */
}

@media (max-width: 768px) {
    .header {
        height: 10.4rem;
        font-size: 2rem;
    }

    .header-left {
        margin-left: 4.5rem;
    }

    .header-right {
        margin-right: 4.5rem;
    }
}

@media (max-width: 576px) {
    .header {
        height: 11.4rem;
    }

    .header-left {
        margin-left: 2.5rem;
    }
    .header-left__text {
        display: none;
    }

    .header-right {
        margin-right: 2.5rem;
    }
}
