@import "../scss-variables/variables.scss";
.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    right: 0;
    font-size: 1.7rem;
    color: $PRIMARY_BLUE;
    background-color: white;
}
.language,
.currency {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 8.5rem;
}
.header-left__text {
    text-decoration: none;
    color: $PRIMARY_BLUE;
}

.header-right {
    display: flex;
    margin-right: 8.5rem;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.header-right img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem; /* Add margin here */
}

.en-text,
.USD-text {
    position: relative; /* Add relative positioning */
}

.login-btn {
    background-color: $PRIMARY_BLUE;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .header {
        height: 7rem;
        font-size: 1.3rem;
    }

    .header-left {
        margin-left: 4rem;
    }

    .header-right {
        margin-right: 4rem;
    }
}

@media (max-width: 576px) {
    .header {
        height: 6rem;
    }

    .header-left {
        margin-left: 2.5rem;
    }
    .header-left__text {
        display: none;
    }

    .header-right {
        margin-right: 2.5rem;
    }
}

@media screen and (max-width: 425px) {
    .header {
        height: 5rem;
    }

    .header-left {
        margin-left: 1.5rem;
    }

    .header-right {
        margin-right: 1rem;
        gap: 1rem;
    }
    .login-btn {
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
    }
    .language,
    .currency {
        font-size: 1.2rem;
        gap: 0;
    }
}
