.main {
    // margin-top: 2vh;
    margin-bottom: 8rem;
    padding: 2rem;
    width: 100%;
    // height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
}
.btn {
    max-height: 30px;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}