.main {
    padding: 2rem;
    width: 100%;
    height: 85vh;
    padding-left: 10%;
    display: flex;
    //   flex-direction: column;
    //   justify-content: space-around;
    //   align-items: center;
    background-image: url("/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg");
    background-size: cover;
    
}
.btn {
    max-height: 3rem;
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //   overflow-y: hidden;
}

@media screen and (max-width: 512px) {
    .main {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 700px) {
    .main {
        height: 100vh;
        background-size: cover;
        overflow-y: scroll;
    }
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //   overflow-y: hidden;
}

@media screen and (max-width: 512px) {
    .main {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 700px) {
    .main {
        height: 100vh;
        background-size: cover;
        overflow-y: scroll;
    }

}

