.filters {
    background-color: rgba(239, 240, 241, 1);
    height: 100%;
    width: 16.3rem;
    min-width: 16.3rem;
    padding: 2%;
    @media screen and (max-width: 1086px) {
        width: 14rem;
        min-width: 14rem;
    }
    // @media screen and (max-width: 942px) {
    //     display: flex;
    //     justify-content: space-between;
    //     background-color: white;
    //     height: 40px;
    //     width: 100%;
    //     padding: 0rem;
    //     border-bottom: 1px solid gray;
    //     margin-bottom: 3rem;
    //     padding-left: 1.5rem;
    //     padding-right: 0.3rem;
    //     .allfilters_div {
    //         display: flex;
    //         justify-content: space-between;
    //         width: 40%;
    //         gap: 1.5rem;
    //         margin-right: 2.3rem;
    //     }
    // }
    @media screen and (max-width: 637px) {
        .allfilters_div {
            width: 100%;
            margin-right: 1rem;
        }
    }
    @media screen and (max-width: 478px) {
        padding-right: 0.8rem;
        margin-right: 0rem;
        width: 100%;
    }
}

.title_div {
    margin-bottom: 25px;
    @media screen and (max-width: 942px) {
        margin-bottom: 0px;
    }
    @media screen and (max-width: 637px) {
        display: none;
    }
}
.title_heading_txt {
    font-size: 1.25rem;
    font-weight: bold;
    @media screen and (max-width: 942px) {
        font-size: 1rem;
        font-weight: normal;
    }
}

.filter_div {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
    @media screen and (max-width: 942px) {
        margin-bottom: 0px;
        border-bottom: none;
        padding-bottom: 0px;
    }
}

.filter_title {
    font-size: 1rem;
}

.filter_data_div {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 942px) {
        gap: 0.2rem;
    }
}
.dropdown_div {
    display: flex;
    margin-top: 20px;
}
.checkbox_txt {
    margin-left: 0.4rem;
}

.alldropdown_div {
    @media screen and (max-width: 942px) {
        display: block;
        background-color: rgba(239, 240, 241, 1);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        position: relative;
    }
}
.filter_dropdown_btn {
    border: none;
    outline: none;
}
@media screen and (max-width: 768px) {
    .allfilters_div {
        // display: none;display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 1.5rem;
        margin-right: 2.3rem;
    }
    .filter-rooms-container {
        align-items: center;
    }
    .filter_div {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
    }
}

@media screen and (max-width: 425px) {
    .filters {
        z-index: 8;
    }
    //     padding: 0;
    // }
    .title_div {
        display: none;
    }
    // .filter_div {
    //     padding-bottom: 0px;
    //     margin-bottom: 0px;
    //     border-bottom: none;
    // }
    .filter_data_div {
        flex-direction: column;
    }
    .filter_title {
        margin-bottom: 0.5rem;
    }
    // .alldropdown_div {
    //     padding: 0;
    // }
    .filter_dropdown_btn {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .checkbox_txt {
        margin-left: 0;
    }
    .filters .allfilters_div {
        height: 100%;
    }
}
