@import "../scss-variables/variables.scss";
.listrooms {
    margin-left: 1.35rem;
}
.listrooms_div {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.25rem;
    @media screen and (max-width: 1713px) {
        gap: 1.15rem;
    }
}
.listrooms_menubar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.95rem;
}
.roomresult_txt {
    font-size: 1.25rem;
    font-weight: bold;
}
.roomresults_page_div {
    display: flex;
    align-items: center;
}
.roomresults_result_txt {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 19.5px;
}
.space {
    color: $PRIMARY_GRAY;
}
.roomresults_price_dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 19.5px;
    background-color: transparent;
    border: none;
    outline: none;
}
.roomresults_dropdown_img {
    height: 0.37rem;
    width: 0.688rem;
}

.roomresults_dropdown_div {
    display: flex;
    align-items: center;
    margin-left: 22px;
}
.sort_price_dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    z-index: 5;
    padding: 0.5rem;
    background-color: $PRIMARY_WHITE;
    margin-left: 0.5rem;
    border: 1px solid $PRIMARY_GRAY;
}
.sort_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.pagination button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: $PRIMARY_GRAY;
    margin-right: 0.5rem;
}
