.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    // top: 0;
    // left: 0;
    margin: auto;
    width: 90%;
    height: 90vh;
    background-color: white;
    border: 1px solid black;
}
